.intro_menu_wrapper{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #f6f8fa;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        padding-left: 16px;
    }
}

.oragnization_repo_details{
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.repo_details{
    color: #0969da;
    font-size: 20px;
    margin-left: 8px;
    cursor: pointer;
}

.repo_name{
    font-weight: 600;
    margin-right: 8px;
}

.privacy_button{
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    color: #57606a;
    border-color: #d0d7de;
    vertical-align: middle;
}

.notifications_button{
    border: 1px solid #cdcfd1;
    border-width: 1px 1px 1px 1px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    background-color: #f4f7f9;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    color:#24292f;
    border-radius: 6px;
}

.buttons_wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    @media (max-width: 768px) {
        display: none;
    }
}

.star_wrapper{
    border: 1px solid #cdcfd1;
    border-width: 1px 0px 1px 1px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    background-color: #f4f7f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    color:#24292f;
}

.info_button{
    font-size: 12px;
    border-collapse: collapse;
    font-weight: bold;
    display: flex;
    border-radius: 6px;
}

.icon_title{
    border: 1px solid #cdcfd1;
    border-width: 1px 0px 1px 1px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    background-color: #f4f7f9;
    line-height: 20px;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


.icon_description{
    border: 1px solid #cdcfd1;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 0px 2px 2px 0px;
    line-height: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.secondary_navbar{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #f6f8fa;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    justify-content: space-between;
}